body {
    background-color: rgb(0,84,162);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-size:40px;
}

h2 {
    color: rgb(255, 255, 255);
    margin-top: 0px;
}


div#carouselExample {
    height: auto;
    width: 800px;
    border-width: 10px;
    border-color: rgb(0,84,162);
    margin: 30px auto 30px auto;
    align-items: center;
}

div#carousel-inner { 
    height: 400px;
    width: 800px;
    align-items: center;
}

div#carousel-item {
    height: 400px;
    width: 800px;
    align-items: center;
}

div#carousel-item {
    height: 400px;
    width: 800px;
    align-items: center;
}
div#main-text-1 {
    color: black;
    margin:10px 10px 10px 10px;
    text-align:left;
    font-size:20px
}

nav{
    background-color:rgb(255, 255, 255);
    color:black;
}

nav a {
    display:inline-block;
    width: 165px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    color:black;
    background-color: rgb(0,84,162);
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 4px 6px black;

}

nav a:hover {
    color:rgb(219, 219, 219);
    background-color: rgb(0,84,162);
}

img#rosminilogo{
    height:100px;
    width:125px;
    margin-bottom: 15px;
    margin-top: 4px
}

footer {
    font-weight: bold;
    text-align: left;
    font-size:10pt;
    background-color:rgb(219, 219, 219);
    align-items:center;
}

nav a#ss:hover {
    color:rgb(255,255,255);
    background-color: rgb(0,84,162);
}

nav a#la:hover {
    color:rgb(255,255,255);
    background-color: rgb(0,84,162);
}

nav a#n:hover {
    color:rgb(255,255,255);
    background-color: rgb(0,84,162);
}

nav a#cu:hover {
    color:rgb(255,255,255);
    background-color: rgb(0,84,162);
}

tr#nothing {
    color: rgb(219, 219, 219);
    font-size: 7px
}

tr#top {
    font-size:15px
}

td#nothing {
    color:rgb(219, 219, 219)
}

td#students {
    align-items:center;
    margin-left: 50px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:15px;
}