body {
    background-color: #3377FF;
    text-align: center;
}

h1 {
    color: rgb(255, 0, 0);
}


div#carouselExample {
    height: auto;
    width: 800px;
    border-width: 10px;
    border-style: double;
    border-color: #960000;
    margin: 30px auto 30px auto;
    align-items: center;
}

div#carousel-inner { 
    height: 400px;
    width: 800px;
    align-items: center;
}

div#carousel-item {
    height: 400px;
    width: 800px;
    align-items: center;
}

div#carousel-item {
    height: 400px;
    width: 800px;
    align-items: center;
}
div#main-text-1 {
    color: black;
    margin:10px 10px 10px 10px;
}

nav{
    background-color:#ffffff;
    color:#0034c2;
}

nav a {
    display:inline-block;
    width: auto;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    color:#0034c2;
    background-color:rgb(255, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 7px;
    box-shadow: 2px 4px 6px black;

}